---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h1>About</h1>
  <p>Hey there! I'm Ikuya Sato, a web developer based in Tokyo.</p>

  <p>Born and raised in Saitama, Japan 🇯🇵</p>

  <p>I studied physics at Saitama University (yep, I love science!).</p>

  <p>I'm super into data science, cybersecurity, and all things crypto.</p>

  <p>Right now, I'm working at a startup and loving the adventure.</p>

  <p>
    Planning to share some <a href="/blog/projects">projects</a> soon, so stay tuned!
  </p>

  <p>
    And who knows? I might drop some totally random <a href="/blog/posts"
      >posts</a
    > that have nothing to do with work, just for fun.
  </p>

  <p>Last updated: 2025-06-16</p>
</Layout>
