---
import Navbar from "../components/Navbar.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link
      rel="icon"
      type="image/png"
      href="https://github.com/init-ikuya.png"
    />
    <meta name="generator" content={Astro.generator} />
    <title>init-ikuya's Blog</title>
  </head>
  <body>
    <Navbar />
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
    background: #222;
    color: #39ff14;
  }
</style>
